<div class="section" id="section-<%=section.id%>">
  <h2><%= section.desc %></h2>
  <P>
    <% type = section_type(section) %>
    <%  case
    when type == "exception" then
    %>
      <%= render :partial => 'exception', :object => section.exception %>
    <% when type == "chart" then %>
      <%= render :partial => 'chart', :locals => { :section => section } %>
    <% else %>
      <%= render :partial => 'section_table', :locals => { :section => section }%>
    <% end %>
  <div class="prevnext">
    <%- if @expt.db -%>      
      <%= render :partial => 'custom_query',:locals => { :section => section }%>
    <%- end -%>
  </div>
    </P>
</div>
