<p style="color: red" id="ajax-error"></p>
<div id="fcontent">
  <div id="expts-list" style="<%= @expts.length > 0 ? "" : "display:none;"%>" >
    <% form_remote_tag :url => url_for(:action => "new_from_compare"),
      :loading => 'ExperimentLoader.disableExptForm()',
      :complete => 'ExperimentLoader.enableExptForm()',
      :html => { :id => 'compare-form' } do %>
      <table id="expts" class="section-table">
        <thead><tr>
            <th>&nbsp;</th>
            <th>Experiment Name</th>
            <th>Path</th>
            <th>Unload</th>
          </tr>
        </thead>
        <%= render :partial => 'expt', :collection => @expts, :as => :expt %>
      </table>
      <%= submit_tag "Compare experiments" %>
    <% end %>
  </div>
</div>
<P>
<h3>Load an experiment from disk</h3>
<P>
  <div id="expt-form-div">
    <% form_remote_for :expt,
      Expt.new,
      :url => { :action => "create" },
      :loading => 'ExperimentLoader.disableExptForm()',
      :complete => 'ExperimentLoader.enableExptForm()',
      :html => { :id => 'expt-form' } do |f| %>
      <label for="expt-path">Path:</label>
      <%= f.text_field :path, :size => 60 %>
      <%= submit_tag 'Load experiment' %>
    <% end %>
  </div>
</P>
